# .editorconfig file for the LaTeX project

# Apply to all files
[*]
indent_style = tab
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# YAML files use 2 spaces for indentation
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# Markdown files use 2 spaces for indentation
[*.md]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false
