{% if skills.programming %}
Programming Languages: {% for s in skills.programming %}{{ s.name }} ({{ s.years }} yr{% if s.years != 1 %}s{% endif %}){% if not loop.last %}, {% endif %}{% endfor +%}
{% endif %}
{% if skills.technologies %}
Technologies: {% for t in skills.technologies %}{{ t.name }} ({{ t.years }} yr{% if t.years != 1 %}s{% endif %}){% if not loop.last %}, {% endif %}{% endfor +%}
{% endif %}
{% if skills.other %}
Other Skills: {{ skills.other | join(', ') }}
{% endif %}
