\begin{itemize}
	{% for award in awards %}
		\item {\sl {{ award.title | latex_escape }}}, {{ award.place | latex_escape }} ({% if links %}\href{ {{ award.link }} }{ {{ award.attained_at.date | as_date(fmt_month_year) }}}{% else %}{{ award.attained_at.date | as_date(fmt_month_year) }}{% endif %})
		{%- if not links %}
		\weburlline{ {{- award.link -}} }
		{%- endif %}
	{% endfor %}
\end{itemize}
