{% for item in experience %}
	{\bf {{ item.company }}}, {\sl {{ item.location }}} \hfill {\sl {{ item.duration.start | as_date(fmt_month_year) }} -- {{ item.duration.end | as_date(fmt_month_year) }} ({{ parse_duration(item.duration.start, item.duration.end) }})} \\
	{\sl — \href{ {{ item.url }} }{ {{ item.url }} }} \\
	{\sl {{ item.title }} } \\
	\\
	{{ item.description }} \\
	\\
	{\sl Technologies: {{ item.technologies | join(', ') | latex_escape }} }
	\\
{% endfor %}
